version: "3.7"

services:
  flarum:
    image: mondedie/flarum:latest@sha256:a995b0143e6ae7e23768f95a75ceca223b9425f878c85dc45361fb8effcfaa89
    container_name: flarum
    volumes:
      - ${APP_DATA_DIR}/assets:/flarum/app/public/assets
      - ${APP_DATA_DIR}/extensions:/flarum/app/extensions
      - ${APP_DATA_DIR}/logs:/flarum/app/storage/logs
      - ${APP_DATA_DIR}/nginx:/etc/nginx/flarum
    ports:
      - "8888:8888"
    environment:
      - DEBUG=false
      - FORUM_URL=http://$DEVICE_DOMAIN_NAME:8888

      # Database configuration
      - DB_HOST=mariadb
      - DB_NAME=flarum
      - DB_USER=flarum
      - DB_PASS=m5F8v1Q3t9L2c6W0y7Zp
      - DB_PREF=flarum_
      - DB_PORT=3306

      # User configuration
      - FLARUM_ADMIN_USER=admin
      - FLARUM_ADMIN_PASS=G7d2K9q4V1p8Z3s6X0rB
      - FLARUM_ADMIN_MAIL=admin@$DEVICE_DOMAIN_NAME
      - FLARUM_TITLE=Flarum
    depends_on:
      - mariadb
  
  mariadb:
    image: mariadb:10.5
    container_name: mariadb
    environment:

      - MYSQL_ROOT_PASSWORD=G7d2K9q4V1p8Z3s6X0rB
      - MYSQL_DATABASE=flarum
      - MYSQL_USER=flarum
      - MYSQL_PASSWORD=m5F8v1Q3t9L2c6W0y7Zp
    volumes:
      - ${APP_DATA_DIR}/db:/var/lib/mysql
